fastapi
uvicorn
pydantic
llama-cpp-python
aiosqlite
numpy
faiss-cpu
starlette
discord
discord.py[voice]
discord-ext-voice-recv
httpx
opuslib
python-multipart
openai-whisper
resampy
typing_extensions
torch
omegaconf
scipy
num2words
transliterate